html{
    scroll-behavior: smooth !important;
}
.span.sk__menu-icon {
    font-size: 18px;
}

.plusCounter{
    font-size: 48px;
    font-weight: 600;
    color: white;
}


.mcurtain-left {
	left: 0;
	background-image: url(../../assets/images/curtain-background-left.svg);
}

.mcurtain-center {
	background-image: url(../../assets/images/iny_logo_lighten_v.png);
    background-size: 30%;
	left: 33.333%;
}

.mcurtain-right {
	background-image: url(../../assets/images/curtain-background-right.svg);
	left: 66.666%;
}

.footer-top {
    padding-bottom: 30px;
}

.customhead{
    font-size: 45px !important;
}

.nav .navbar .sk__navbar{
    background-color: black !important;
}

.sk__proj-infobox-label,.sk__proj-infobox-value{
    opacity: 1 !important;
    font-size: 16px !important;
}

.sk__features {
    padding-bottom: 0px;
    margin-left: -2px;
    margin-right: -2px;
}

@media(max-width: 576px){
    .plusCounter{
        font-weight: 600;
        font-size: 30px;
        font-weight: 500;
    }

    .mcurtain-center {
        background-size: 40%;
    }
    
    .customhead{
        font-size: 35px !important;
    }
}

